/* Deployinator credentials file.
 *
 * Rename this file to credentials.h and update the fields with your values.
 */


#define WIFI_SSID "Your wifi network name"
#define WIFI_PASSWORD "supersecretpassword"

// See https://www.grc.com/fingerprints.htm for fingerprint check.
#define JENKINS_SSL_FINGERPRINT "CD 4F 74 A7 16 48 20 AB 62 11 D7 FE ED 5B F4 76 EC 69 EF 84"
#define JENKINS_JOB_HOST "jenkins.your.domain.com"
#define JENKINS_PORT 443
#define JENKINS_JOB_PATH "/job/Booking%20Engine/job/Sandbox/job/Post%20to%20slack/build"

// Base64 encoded HTTP Basic auth username and Jenkins API token.
// echo -n "username:jenkins_api_token" | base64
#define JENKINS_AUTH "dXNlcm5hbWU6amVua2luc19hcGlfdG9rZW4="
