/* Deployinator credentials file.
 *
 * Rename this file to credentials.h and update the fields with your values.
 */


#define WIFI_SSID "Your wifi network name"
#define WIFI_PASSWORD "supersecretpassword"

// See https://www.grc.com/fingerprints.htm for fingerprint check.
// Or run:
// echo -n | openssl s_client -connect jenkins.your.domain.com:443 2>/dev/null | openssl x509 -fingerprint -noout | cut -d "=" -f 2 | sed 's/:/ /g'
#define JENKINS_SSL_FINGERPRINT "CD 4F 74 A7 16 48 20 AB 62 11 D7 FE ED 5B F4 76 EC 69 EF 84"
#define JENKINS_JOB_HOST "jenkins.your.domain.com"
#define JENKINS_PORT 443
#define JENKINS_JOB_PATH "/job/Important%20Jobs/job/Build%20all%20the%20things/build"

// Base64 encoded HTTP Basic auth username and Jenkins API token.
// echo -n "username:jenkins_api_token" | base64
#define JENKINS_AUTH "dXNlcm5hbWU6amVua2luc19hcGlfdG9rZW4="
